<h2 *ngIf="status!=null">ERROR: {{status.message}}</h2>
<div *ngIf="status==null">


  <div class="card">
    <div class="table-container">
      <h2>Threads</h2>
      <h3>Showing {{oPage.numberOfElements}} of total {{oPage.totalElements}} threads.</h3>
      <p-table [value]="oPage.content" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>ID</th>
            <th (click)="doOrder('title')">Title</th>
            <th (click)="doOrder('id_user')">User</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-t>
          <tr>
            <td>{{t.id}}</td>
            <td>{{t.title}}</td>
            <td>
              <a [routerLink]="['/admin','user','view', t.user.id]">{{t.user.name}} {{t.user.surname}}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <br>
  <div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage.totalElements" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
</div>